@import url('https://fonts.googleapis.com/css2?family=Gloria+Hallelujah&display=swap');

img
{
    height : 100px;
    width: 100px;
}

header
{
    text-align: center;
    background-color: #371AC1;
}

header h1
{
    font-family: 'Gloria Hallelujah', cursive;
}

