@import url('https://fonts.googleapis.com/css2?family=Gloria+Hallelujah&display=swap');

*
{
    padding: 0;
    margin:0;
    font-family: 'Gloria Hallelujah', cursive;
}

img
{
    margin-top : 10px;
    height : 95px;
    width: 95px;
}

header h1
{
    color: #fff;
    text-shadow: 2px 2px 8px #FF0000;
}

td
{
    font-size: 20px;
    font-weight: bold;
}

table
{
    margin : auto;
    border-spacing: 20px;

}

div
{
    margin-top: 5%;
    text-align: center;
}

footer,header
{
    width: 100%;
    text-align: center;
    background-color: #371AC1;
    color: #fff;
}

a#insta i
{
    color : #004d7c;
}

a#insta
{
    font-size: 75px;
}

a#insta:hover
{
    transition: 0.3s all;
    color :  #fc6c85;
}

article#1
{
    background: rgb(2,0,36);
    background: linear-gradient(90deg, rgba(2,0,36,1) 0%, rgba(37,9,121,1) 35%, rgba(0,212,255,1) 100%); 
}

article#2
{
    background: rgb(2,0,36);
    background: linear-gradient(90deg, rgba(2,0,36,1) 0%, rgba(108,77,201,1) 35%, rgba(0,212,255,1) 100%);
}

article#3
{
    background: rgb(2,0,36);
    background: linear-gradient(90deg, rgba(2,0,36,1) 0%, rgba(110,95,153,1) 35%, rgba(0,212,255,1) 100%);
}