@import url('https://fonts.googleapis.com/css2?family=Gloria+Hallelujah&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Open+Sans:wght@600&display=swap');

*
{
    padding: 0;
    margin:0 auto;
    font-family: 'Gloria Hallelujah', cursive;
}

header
{
    background-color: #371AC1;
    width: 100%;
}

header img
{
    height: 80px;
    width: 80px;
    position: absolute;
    margin: 7px;
    text-align: left;
}

header h1
{
    font-size: 50px;
    color: #fff;
    text-shadow: 0 0 0.2em #F87, 0 0 0.2em #F87;
    letter-spacing: 3px;
    text-transform: uppercase;
    text-align: center;
}

/* bon */

section
{
    padding-top: 20px;
    text-align: center;
}

section h2
{
    text-decoration: underline;
    font-size: 60px;
    margin-bottom: 20px;
}

article h3
{
    font-size: 40px;
    text-decoration: dashed underline #371AC1;
}

article
{
    border: 2px solid #371AC1;
    border-radius: 50px;
    width: 75%;
    margin: 0 auto;
    margin-bottom: 100px;
    font-size: 25px;
    padding: 10px;
    background: rgb(255,255,255);
    background: linear-gradient(90deg, rgba(255,255,255,1) 0%, rgba(224,224,224,1) 35%, rgba(255,255,255,1) 71%, rgba(224,224,224,1) 100%);
}

table
{
    margin : auto;
    border-spacing: 20px;
    overflow-x:auto;
}

td
{
    font-size: 25px;
    font-weight: bold;
}

a#cmd
{
    text-decoration: none;
    text-transform: uppercase;
    background-color: #000;
    color: #fff;
    border-radius: 15px;
    font-size: 20px;
    font-family: 'Open Sans', sans-serif;
    padding: 5px;
    letter-spacing: 1px;
}

a#cmd:hover
{
    transition: 0.3s all;
    background-color: #fff;
    color: #000;
    border: 1px solid #000;
}

section article#command p
{
    text-align: left;
}


div#rs
{
    display: inline;
}

div#rs a i
{
    font-size:100px;
    margin-left: 30px;
    margin-right: 30px;
    color: #26272b;
}

div#rs a i#discord:hover
{
    transition: 0.3s all;
    color: #7289da;
}

div#rs a i#insta:hover
{
    transition: 0.3s all;
    color: #C13584;
}

div#rs a i#mail:hover
{
    transition: 0.3s all;
    color: #4c807c;
}


/* Responsive Design */

@media screen and (max-width: 1080px)
{
    header img
    {
        width: 40px;
        height: 40px;
    }
    header h1
    {
        font-size: 12px;
        line-height: 60px;
        margin-left: 25px;
    }

    table tr td
    {
        font-size: 12px;
    }

    audio
    {
        width: 200px;
    }

    section h2
    {
        font-size: 40px;
    }

    article h3
    {
        font-size: 20px;
    }

    article p
    {
        font-size: 15px;
    }
    div#rs a i
    {
        font-size: 60px;
        margin: 50px;
    }

    a#cmd
    {
        font-size: 15px;
    }
}

/* footer */

div#creator h4
{
    text-transform: uppercase;
    letter-spacing: 3px;
    font-size: 15px;
    text-align: center;
    font-weight: bolder;
    font-family: 'Open Sans', sans-serif;
    margin: 0;
}

div#creator
{
    border: 1px solid #fff;
    width: 25%;
    margin: 1% auto;
}

footer
{
    border-top: 1px solid #000;
    background: rgb(9,9,121);
    background: linear-gradient(90deg, rgba(9,9,121,1) 0%, rgba(0,151,255,1) 37%, rgba(2,0,36,1) 100%);
    text-align: center;
    color: #fff;
    font-size: 15px;
    width: 100%;
    position: absolute;
    margin-top: 10%;
}
footer a i
{
    text-align: center;
    font-size: 100px;
    margin: 5%;
}

footer a i#vitag
{
    color: #fff;
}

footer a i:hover
{
    transition: 0.3s all;
    opacity: 0.8;
}

@media screen and (max-width: 1080px)
{
    div#creator
    {
        width: 75%;
    }

    div#creator h4
    {
        font-size: 15px;
    }

    footer a i
    {
        font-size: 75px;
    }
}

/* end footer*/